<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd">

	<description>spring配置</description>
    <!-- mybatis -->
	<import resource="classpath*:spring-mybatis.xml"/>
	<!-- redis-->
	<import resource="classpath*:spring-redis.xml"/>
	<!-- redis-->
	<!--<import resource="classpath*:spring-cache.xml"/>-->
	<!-- shiro-->
	<import resource="classpath*:spring-shiro.xml"/>
</beans>